[submodule "DaemonTechChallenge"]
	path = DaemonTechChallenge
	url = git@github.com:Thesamuel01/DaemonTechChallenge.git
[submodule "DaemonTechChallengeTests"]
	path = DaemonTechChallengeTests
	url = git@github.com:Thesamuel01/DaemonTechChallengeTests.git
